body{
    background: #262627;
}

.modal{
    padding: 50px;
    background: #252525;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .holder{
    background-color:#262626;
    width: 50vw;
    height: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(
  45deg,
  #000000,
  #000000 10px 40px,
  #a6ff00 40px 80px
);
   /*
    background: repeating-linear-gradient(
        to right, 
        #fff 0 6.25vw,
        #ff0 6.25vw 12.5vw,
        #0ff 12.5vw 18.75vw,
        #0f0 18.75vw 25vw,
        #f0f 25vw 31.25vw,
        #f00 31.25vw 37.5vw,
        #00f 37.5vw 43.75vw,
        #000 43.75vw 50vw
        );
        */
        
    border-radius: 3vw;
    border-width: 0.3vw;
    border-color: #f00;
    border-style:solid;
}

  #ButtonId, .center{
    background-color: #1d1d1d;
    font-size: 6vw;
    color: rgb(255, 0, 157);
    height: 20vw;
    width: 45vw;
    display: flex;
    justify-content: center;
    border-radius: 3vw;
    border-width: 1vw;
    border-color: #f00;
    border-style: double;
}

.question{
    color: aqua;
    margin-left: 7vw;
    margin-bottom: 1vw;
}

select{
    color: aqua;
    background-color: #000000;
    border-radius: 1vw;
    border-width: 1vw;
    border-style:double;
    border-color: rgb(81, 165, 42);
    margin-left: 1vw;
}
/***/



.other{
    color: rgb(255, 0, 0);
    background-color: black;
    text-align: center;
    justify-content: center;
}